menu "Edgefast Bluetooth Extension Configurations(edgefast_bluetooth_config.h)"

config CONTROLLER_ID
    string "CONTROLLER_ID"
    default "kUSB_ControllerEhci0"
    help
      USB Controller ID
      This symbol is a config macro.
      No prefix in generated macro

config BT_IND_RESET
    bool "BT_IND_RESET"
    help
      This symbol is a config macro.

config BT_IND_RESET_OOB
    bool "BT_IND_RESET_OOB"
    help
      This symbol is a config macro.

config BUTTON_COUNT
    int "BUTTON_COUNT"
    default 0
    help
      This symbol is a config macro.
      No prefix in generated macro

endmenu